---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Acerca de | Luis Arteaga" description="Aprende más sobre Luis Arteaga y su experiencia en desarrollo de software">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Acerca de"
				tagline="Gracias por visitar. Lee a continuación para conocer más sobre mí y mi experiencia."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Luis Arteaga trabajando con un colega"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Antecedentes</h2>
				<div class="content">
					<p>
						Soy Luis Arteaga, un ingeniero de sistemas preparado para enfrentar nuevos desafíos profesionales. Mi meta es dirigir equipos de técnicos y especialistas en tecnología para el desarrollo de software.
					</p>
				</div>
				<h2 class="section-title">Educación</h2>
				<div class="content">
					<p>
						Como bachiller académico, me gradué con honores de la Institución Educativa Eugenio Sánchez Cárdenas.
					</p>
					<p>
						Continué mi educación en la Universidad del Sinú - Elías Bechara Zainúm, donde estudié con una beca y fui el primero en graduarme. Mi trabajo de grado fue el diseño e implementación de un asistente virtual (chatbot) para la comunidad del Centro educativo Mata de Caña ubicado en el municipio de Lorica - Córdoba.
					</p>
					<p>
						Además, soy Técnico Operador de sistemas teleinformáticos y aplicaciones multimedia, graduado del Politécnico Indes.
					</p>
				</div>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<ul>
						<li>Programación</li>
						<li>Análisis de sistemas</li>
						<li>Diseño de software</li>
						<li>Gestión de proyectos</li>
						<li>Experiencia en diversas tecnologías y lenguajes de programación</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
