---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Luis Arteaga \n Desarrollador AWS y Python"
					tagline="un desarrollador con conocimientos en AWS y Python"
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="aws" size="1.33em" /> AWS</Pill>
						<Pill><Icon icon="python" size="1.33em" /> Python</Pill>
						<Pill><Icon icon="git" size="1.33em" /> Git</Pill>
					</div>
				</Hero>

				<img
					alt="Luis Arteaga sonríe con su diploma en la mano."
					width="480"
					height="620"
					src="/assets/portrait.jpg"
				/>
			</header>

			<Skills />
		</div>

		<main class="wrapper stack gap-20 lg:gap-48">
			<div style="text-align: center;">
				<object data="/assets/CV_Meruem.pdf" type="application/pdf" width="100%" height="700px">
					<p>Para obtener una visión más completa de mi experiencia y habilidades, <a href="/assets/CV_Meruem.pdf">descargue mi currículum completo</a>.</p>
				</object>
			</div>
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Trabajo seleccionado</h3>
					<p>Echa un vistazo a algunos de mis trabajos destacados para clientes de los últimos años.</p>
				</header>

				<div class="gallery">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.2" baseProfile="tiny" viewBox="0 0 300 94"><rect fill="#fff" x="146" y="25.37" width=".72" height="40.88" rx=".32"/><path fill="#fff" d="m80.12 60.84.13 1.39q.06.53-.48.53h-6.02q-.51 0-.51-.51V26.2q0-.56.56-.56l6.13-.02q.57 0 .57.56l-.01 11.55q0 .55.45.23 5.02-3.61 10.28-2.1c12.6 3.6 12.27 24.21-.7 27.05q-5.17 1.13-9.86-2.37-.61-.46-.54.3Zm6.606-4a7.53 6.42 89.8 0 0 6.394-7.552 7.53 6.42 89.8 0 0-6.446-7.508 7.53 6.42 89.8 0 0-6.394 7.552 7.53 6.42 89.8 0 0 6.446 7.508Zm77.794-20.71 5.29-.03q.45 0 .45.46l.01 5.25q0 .58-.58.58l-5.2.01q-.62 0-.61.61l.08 11.52a2.1 2.1 0 0 0 2.32 2.08l2.94-.31q.46-.05.58.41l1.29 4.91q.12.46-.34.6c-4.13 1.23-10.96 1.64-13.51-2.65q-1-1.7-1.02-5.82-.03-11.85-.01-24.13a1.55 1.55 0 0 1 1.05-1.47l6.14-2.12q.53-.19.53.37l-.02 9.12q-.01.62.61.61Z"/><path fill="#fff" d="M186.055 63.194a14 13.83 91.7 0 1-13.409-14.404 14 13.83 91.7 0 1 14.24-13.584 14 13.83 91.7 0 1 13.408 14.404 14 13.83 91.7 0 1-14.24 13.584Zm.438-6.644a7.36 5.86 89.9 0 0 5.847-7.37 7.36 5.86 89.9 0 0-5.873-7.35 7.36 5.86 89.9 0 0-5.847 7.37 7.36 5.86 89.9 0 0 5.873 7.35Z"/><path fill="#fff" d="M212.58 38.32c6.39-5.09 14.38-3.57 17.39 4.06 2.2 5.6 1.74 12.85-2.48 17.37-4.12 4.4-10.29 4.36-14.71.31q-.51-.47-.51.22v10.23q0 .53-.53.53l-6.65.01q-.59 0-.59-.59V36.51q0-.48.48-.48l6.83.03q.5 0 .44.5l-.19 1.47q-.1.78.52.29Zm5.104 18.25a7.37 5.69 90.2 0 0 5.716-7.35 7.37 5.69 90.2 0 0-5.664-7.39 7.37 5.69 90.2 0 0-5.716 7.35 7.37 5.69 90.2 0 0 5.664 7.39ZM23.83 52.93c1.94 4.84 8.5 5.1 11.17.66q.32-.53.86-.22l4.7 2.77a.56.56 0 0 1 .2.77q-4.77 7.87-14.03 5.98c-14.62-2.99-14.71-23.99.09-27.04 5.83-1.21 11.08.63 13.92 5.9a.62.61-29.2 0 1-.24.82l-4.73 2.74q-.44.25-.72-.17c-5.51-8.25-14.39-.16-11.22 7.79Z"/><path fill="#fff" d="M56.173 63.29a13.99 13.82 87.9 0 1-14.324-13.474A13.99 13.82 87.9 0 1 55.147 35.33a13.99 13.82 87.9 0 1 14.324 13.475A13.99 13.82 87.9 0 1 56.173 63.29Zm-.51-6.45a7.52 6.44 89.9 0 0 6.427-7.531 7.52 6.44 89.9 0 0-6.453-7.509 7.52 6.44 89.9 0 0-6.427 7.531 7.52 6.44 89.9 0 0 6.453 7.509ZM122.36 43.6c.37 5.17 17.63.54 14.85 12.7-2.1 9.14-15.95 7.55-21.92 4.27q-.45-.25-.25-.73l1.96-4.61q.23-.53.73-.25c2.72 1.54 9.35 3.66 12.06 1.33 1.62-1.4.36-3.16-1.37-3.48-6.17-1.13-15.63-2.03-12.47-11.26 2.7-7.88 14.46-6.82 20.19-4.08q.52.25.29.77l-2.02 4.64q-.21.47-.65.21c-2.81-1.58-8.07-2.8-10.96-.52a1.2 1.2 0 0 0-.44 1.01ZM249.8 60.28q-5.15 4.74-11.24 1.87c-4.95-2.33-6.11-8.98-2.33-12.83 3.16-3.23 8.97-2.89 13.26-2.87q.55.01.52-.54c-.26-5.7-7.08-4.7-9.88-1.77q-.4.42-.81 0l-3.86-3.85a.6.6 0 0 1 .03-.87q6.1-5.35 14.26-3.66c7.29 1.5 8.05 6.38 8.03 13.33q-.02 6.35.07 12.7.01.58-.57.58l-6.48.01q-.58 0-.57-.58l.03-1.31q.01-.65-.46-.21Zm.46-7.93a.74.73-79.8 0 0-.6-.87c-2.08-.34-8.47-.62-8.12 3.27q.2 2.29 1.7 2.56 5.86 1.05 7.02-4.96Z"/><rect fill="#fff" x="104.26" y="35.83" width="7.24" height="26.94" rx=".33"/><path fill="#fff" d="m273.62 42.29-10.73.01a.33.33 0 0 1-.33-.33l.03-5.58a.33.33 0 0 1 .33-.33l20.48-.01a.33.33 0 0 1 .33.33l.03 5.35a.33.33 0 0 1-.08.21l-11.9 13.64a.33.33 0 0 0 .25.55l11.84-.04a.33.33 0 0 1 .33.33l.02 5.63a.33.33 0 0 1-.33.33h-21.6a.33.33 0 0 1-.33-.33l.01-5.45a.33.33 0 0 1 .08-.21l11.82-13.55a.33.33 0 0 0-.25-.55Z"/></svg>
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li>
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/work/">
						Ver todo
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>

			<section class="section with-background bg-variant">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Menciones</h3>
					<p>
						He tenido la suerte de recibir elogios por mi trabajo en varias publicaciones. Echa un vistazo a continuación para saber más.
					</p>
				</header>

				<div class="gallery">
					<Grid variant="small">
						{
							['1', '2', '3', '4', '5'].map((brand, index) => (
								<li class='flip-card'>
									<div class="flip-card-inner">
										<div class="flip-card-front">
											<p>{brand}</p>
										</div>
										<div class="flip-card-back">
											<p>{['uno', 'dos', 'tres', 'cuatro', 'cinco'][index]}</p>
										</div>
									</div>
								</li>
							))
						}
					</Grid>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 45% 55% 63% 37% / 47% 53% 47% 53% ;
		box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow:0px 0px 300px 106px rgba(71,63,170,0.48);
		-moz-box-shadow: 0px 0px 300px 106px rgba(71,63,170,0.48);
		box-shadow: 0px 0px 300px 106px rgba(71,63,170,0.48);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			border-radius: 45% 55% 63% 37% / 47% 53% 47% 53% ;
			box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
			-webkit-box-shadow:0px 0px 300px 106px rgba(71,63,170,0.48);
			-moz-box-shadow: 0px 0px 300px 106px rgba(71,63,170,0.48);
			box-shadow: 0px 0px 300px 106px rgba(71,63,170,0.48);
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background: url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat, var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}

	.flip-card {
	display: flex;
	height: 7rem;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 1px solid var(--gray-800);
	border-radius: 1.5rem;
	color: var(--gray-300);
	background: var(--gradient-subtle);
	box-shadow: var(--shadow-sm);
	perspective: 1000px;
	}

	.flip-card-inner {
	width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
	}

	.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
	}

	.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

	.flip-card-front {
	background-color: #f1f1f100;
	}

	.flip-card-back {
	background-color: #b3b3b300;
	transform: rotateY(180deg);
	}
</style>
