---
import Icon from "./Icon.astro";
---

<aside>
	<h2>¿Interesado en trabajar juntos?</h2>
	<form data-netlify="true" method="post" class="contact-form">
		<div class="input-group">
			<input type="text" name="name" placeholder="Tu nombre" required />
			<input
				type="email"
				name="email"
				placeholder="Tu correo electrónico"
				required
			/>
		</div>
		<textarea name="message" placeholder="Tu mensaje" required rows="4"
		></textarea>
		<button type="submit" class="btn">
			Envíame un mensaje
			<Icon icon="paper-plane-tilt" size="1.2em" />
		</button>
	</form>
</aside>

<style>
	aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		border-top: 1px solid var(--gray-800);
		border-bottom: 1px solid var(--gray-800);
		padding: 5rem 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.contact-form {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		width: 100%;
		max-width: 600px;
	}

	.input-group {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	@media (min-width: 50em) {
		.input-group {
			flex-direction: row;
		}

		.input-group input {
			width: 50%;
		}
	}

	h2 {
		font-size: var(--text-xl);
		text-align: center;
		max-width: 15ch;
	}

	@media (min-width: 50em) {
		aside {
			padding: 7.5rem;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		h2 {
			font-size: var(--text-3xl);
			text-align: left;
		}
	}
	.btn {
		padding: 0.5rem 1rem;
		width: 200px;
		height: 50px;
		border-radius: 0.25rem;
		border: none;
		background-color: var(--blue-500);
		color: var(--text-color);
		cursor: pointer;
		font-weight: 700;
		overflow: hidden;
		position: relative;
	}

	.btn::before {
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(120deg, transparent, #7476e0, transparent);
		transform: translateX(-100%);
		transition: 0.6s;
		position: absolute;
	}

	.btn:hover {
		background: transparent;
		box-shadow: 0 0 20px 5px #7476e0;
	}

	.btn:hover::before {
		transform: translateX(100%);
	}
</style>
